:root {
  --accent-color:         #9BCF53;
  --mood-color:            #416D19;
  --red-color:            #F73535;
  --white-color:          #FFF67E;
  --card-color:           #B9CCBF;
  --black-color:          #191A1B;
  --bg-color:             #9BCF53;


  --text-color:           #191A1B;
  --link-color:           #efc172;
  --link-hover-color:     #2D77D2;


  --fs-xl: clamp(0.5rem, 12vw + 0.25rem, 2.5rem);
  --fs-600: 1.5rem;
  --fs-500: 1rem;
  --fs-400: 0.9rem;

  --border-radius-large:  100%;
  --border-radius-small:  2px;

  --wrapper-padding-inline-mob: 1rem;
  --wrapper-padding-inline-desk: 10rem
}

@media (min-width: 40em) {
  :root {
    --fs-xl: clamp(1rem, 12vw + 0.5rem, 4.5rem);
    --fs-600:2rem;
    --fs-500:1rem;
    --fs-400:1.125rem;
  }
}

body{
  background-color: var(--bg-color);
}

h1{
   color: var(--mood-color);
}

h2{
  color: var(--mood-color);
}

p {
  color: var(--accent-color);
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.overlay-menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 999; /* Ensure the overlay is above other content */
  max-width: 400px;
}

.overlay-menu h2 {
  margin-top: 0;
}

.overlay-menu p {
  margin: 5px 0;
}

.overlay-menu button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.overlay-menu button:hover {
  background-color: #0056b3;
}


.content {
  flex-grow: 1;
}

svg path{
  fill: var(--white-color);
}


.bottom-nav {
  background-color: var(--mood-color);
  position: fixed;
  border-radius: 20px 20px 0px 0px;
  bottom: 0;
  z-index: 1000;
  width: 100%;
}

.bottom-nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}


.bottom-nav ul li {
  padding: 10px;
}

.bottom-nav ul li a {
  display: grid;

  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: #333;
}


.container {
  max-width: 60rem;
  margin-inline: auto;
  padding-inline: var(--wrapper-padding-inline-mob);
 }

.header-row{
  display: flex;
  justify-content: space-between;

  margin-top: 16px;
}


.ingredient-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;

  height: 67.5vh;

  margin-top: 2.5rem;
  padding: 1rem;
  overflow-y: auto; /* Add vertical scrollbar when content overflows */

}

.ingredient-list.overlay{
  height: 60vh;
}

.ingredient-recipes{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.close-form-button{
  padding-left: 52.5rem;
}
.close-form-button path{
  fill:var(--mood-color)
}

.ingredient-card p {
  color: var(--white-color);
}

.ingredient-recipes-summary p{
  color: var(--white-color);
}

.ingredient-recipes .ingredient-card{
  height: 12rem;
}

.ingredient-recipes-summary{
  display: grid;

  width: 50%;
  background-color: var(--mood-color);
  opacity: 0.8;

  border-radius: 10px;
}

.ingredient-card{
  position: relative;
  background-color: var(--mood-color);
  border-radius: 10px 10px 10px 10px;
  height: 125px;

  opacity: 0.8;


  box-shadow: 1px 2px 2px 1px rgb(0, 0, 0, 0.3);
}

.recipe-overlay{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--accent-color);
  width: 100%;
  padding: 0.5rem;
  height: 100vh;
}

.recipe-card{
  position: relative;
  background-color: var(--mood-color);
  border-radius: 10px 10px 10px 10px;
  height: 125px;

  opacity: 0.8;


  box-shadow: 1px 2px 2px 1px rgb(0, 0, 0, 0.3);

}

.recipe-card h3{
  color: var(--white-color);
  padding: 0.5rem
}

.ingredient-card svg {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.recipe-card svg {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.ingredient-card h3 {
  color: var(--white-color);
  padding: 0.5rem;
}

.ingredient-card h3 {
  color: var(--white-color);
  padding-left: 0.75rem;
}

.ingredient-card-wrapper{
  display: grid;
  position: relative; /* Set the parent container to relative positioning */
  margin-bottom: 20px;
}

.form-card{
  position: absolute;
  display: grid;
  align-items: center;
  bottom: 0;
  left: 0;
  height: 60vh;
  width: 98vw;
  background-color: var(--accent-color);
  border-radius: 20px 20px 0px 0px;
  border: 1vw solid var(--mood-color) 

}

form.add-ingredient-form input{
  height: 2.75vh;
  border-radius: 5px;
  border: none !important
}

form.add-ingredient-form{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap:16px;
  padding: 5rem;
  margin-bottom: 10rem;
}

button{
  background-color: var(--mood-color);
  border: none;
  height: 5rem;
  width: 5rem;

  color: var(--white-color);

  border-radius: 10px;
}

.open-menu-button{
  width: 102%;
  height: 45px;
  border-radius: 0px 0px 10px 10px !important;
  box-shadow: 1px 2px 2px 1px rgb(0, 0, 0, 0.3);
}

.search-bar{
  height: 30px;
  width: 200px;

  border-radius: 0px 5px 5px 0px;
  border: none;
  background-color: var(--white-color);
}

.svg-box{
  background-color: var(--mood-color);
  width: 30px;
  height: 32px;

  display: grid;
  align-items: center;
  justify-content: center;

  border-radius: 5px 0px 0px 5px;
  border: none;
}

.search-wrapper{
  display: flex;
}

.button-wrapper{
  display: flex;

  justify-content: space-between;
  align-items: center;

  padding-inline: 0.5rem;
}

.button-wrapper-right{
  display: flex;

  justify-content:right;
  align-items: center;

  padding-inline: 0.5rem;
}

.menu-options {
  display: grid;
  align-items: center;
  background-color: var(--mood-color);
  width: 50%;
  top:0;
  right: 0;
  justify-content: center;
  z-index: 3;
  position: absolute;
  border-radius: 5px;
}

.menu-options a{
  background-color: var(--mood-color);
  border: none;
  padding-block: 2.5rem;

  color: var(--white-color);

  border-radius: 10px;

}

.ingredient-wrapper{
  padding-top: 1rem;
}

.ingredient-wrapper .ingredient-list{
  margin-top: 3rem;
}

.selected-ingredient-wrapper .ingredient-input-wrapper{
  display: grid;
}

.selected-ingredient-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.ingredient-card-input{
  position: relative;
  background-color: var(--mood-color);
  border-radius: 10px 10px 10px 10px;
  height: 125px;

  opacity: 0.8;
}

.ingredient-card-input{
  background-color: var(--mood-color);
  opacity: 0.8;
  border-radius: 10px;
}

.delete-ingredient-button{
  position: absolute;
  top: 15px;
  right: 15px;
}


.selected-ingredient-card-delete{
  top:10px;
  right:10px
}

.selected-ingredient-card-edit{
  position: absolute;
  right: 10px;
  bottom: 10px;

  color: var(--white-color);
  font-weight: bold;
}

.close-button-svg{
  position: absolute;
  top:50px;
  right: 50px;
  padding: 2rem;
}


.recipe-name-input {
  margin-top: 1rem;
  display: grid;
  padding: 1rem;
  border-radius: 10px;
}

.recipe-name-input label{
  color: var(--mood-color);
  font-weight: bolder;
}

.recipe-name-input input{
  background-color: var(--white-color);
  height: 30px;
  font-size: var(--fs-500);
  margin-top: 0.5rem;

  border-radius: 8.5px;
  border: none !important;

  width: 35vw;
}